<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace ="~{layout::top-bootstrap}"></th:block>
</head>
<body>
<h2>Product</h2>
<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}" class="text-success"></span>
    </div>
</div>



<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <button><a th:href="@{/create}">Add New Product</a></button>
        <form class="d-flex input-group w-auto" action="/search">
            <input
                    type="search"
                    class="form-control rounded"
                    placeholder="Search"
                    aria-label="Search"
                    aria-describedby="search-addon"

                    name="name"
            />
            <input class="btn btn-info" type="submit" value="Search">
        </form>
    </div>
</nav>


<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            <th scope="col">View</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product,lopp : ${productList}">
            <td scope="row" th:text="${lopp.count}" ></td>
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.manufacturer}"></td>
            <td>
                <button type="button"><a th:href="@{/edit(id=${product.id})}">Edit</a></button>
            </td>
            <td>
                <button type="button"><a th:href="@{/delete(id=${product.id})}">Delete</a></button>
            </td>
            <td>
                <button type="button"><a th:href="@{/view.(id=${product.id})}">View</a></button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<footer th:replace="~{layout :: footer}"></footer>
<th:block th:replace ="~{layout::bot-bootstrap}"></th:block>
</body>
</html>