<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout::top-bootstrap}"></th:block>
</head>
<body>
<h2><a th:href="@{/}">Blog List</a></h2>
<div class="notify">
    <div th:if="${message}">
        <h2 th:text="${message}" class="text-success"></h2>
    </div>
</div>


<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <button class="btn btn-success"><a th:href="@{/create}" style="color: white">Add New Blog</a></button>
        <form class="d-flex input-group w-auto" action="/search">
            <input
                    type="search"
                    class="form-control rounded"
                    placeholder="Search"
                    aria-label="Search"
                    aria-describedby="search-addon"

                    name="title"
            />
            <input class="btn btn-info" type="submit" value="Search">
        </form>
    </div>
</nav>


<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">Blog Title</th>
            <th scope="col">Blog Author</th>
            <th scope="col">Blog Content</th>
            <th scope="col">Update date</th>
            <th scope="col">Category</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            <th scope="col">View</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="blog,lopp : ${blogList}">
            <td scope="row" th:text="${lopp.count}"></td>
            <td th:text="${blog.id}"></td>
            <td th:text="${blog.blogTitle}"></td>
            <td th:text="${blog.blogAuthor}"></td>
            <td th:text="${blog.blogContent}"></td>
            <td th:text="${blog.updateDate}"></td>
            <td th:text="${blog.category.name}"></td>
            <td>
                <button type="button" class="btn btn-warning"><a th:href="@{/edit(id=${blog.id})}" style="color: white">Edit</a></button>
            </td>
            <td>
                <button th:attr="onclick=|deleteModal('${blog.id}', '${blog.blogTitle}')|" type="button" class="btn btn-danger"
                        data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                    Delete
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-info"><a th:href="@{/view(id=${blog.id})}" style="color: white">View</a></button>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Modal -->
    <form th:action="@{/delete}" method="post">
        <div class="modal top fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
            <div class="modal-dialog  ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete blog</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Bạn có muốn xóa blog này không<br>
                        <span>Tên: <p id = "name"></p></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                            Close
                        </button>
                        <input type="hidden" name="id" id="id-del">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function deleteModal(id,name) {
        document.getElementById("id-del").value = id;
        document.getElementById("name").innerText=name;
    }
</script>
<footer th:replace="~{layout :: footer}"></footer>
<th:block th:replace="~{layout::bot-bootstrap}"></th:block>
</body>
</html>