<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace ="~{layout::top-bootstrap}"></th:block>
</head>
<body>
<h3>Create New User</h3>
<p>
    <a th:href="@{/user}">
        Back to user list
    </a>
</p>
<div id="form">
    <form th:action="@{/save}" method="post" th:object="${userDto}">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>First Name :</label>
            <input type="text" th:field="*{firstName}"/>
            <p style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{fisrtName}"></p>
        </div>
        <div>
            <label>Last Name :</label>
            <input type="text" th:field="*{lastName}"/>
        </div>
        <div>
            <label>Phone :</label>
            <input type="text" th:field="*{phone}"/>
        </div>
        <div>
            <label>Age :</label>
            <input type="text" th:field="*{age}"/>
        </div>
        <div>
            <label>Email :</label>
            <input type="text" th:field="*{email}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>

</div>
<th:block th:replace ="~{layout::bot-bootstrap}"></th:block>
</body>
</html>